{% extends 'AppBundle:home:index.html.twig' %}

{% block body %}
    <h1>Portfolio list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td><a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">{{ portfolio.id }}</a></td>
                <td>{{ portfolio.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('portfolio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
