{% extends 'AppBundle:home:index.html.twig' %}

{% block body %}
    <h1>{{ 'portfolio.list.h1'|trans }}</h1>

    <div class="panel panel-default">
        <div class="panel-body">    
            <a href="{{ path('portfolio_new') }}" class="btn btn-success" role="button">{{ 'portfolio.list.new.label'|trans }}</a>
        </div>
    </div>
        
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'portfolio.list.title.label'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">{{ portfolio.title }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">{{ 'portfolio.list.show.label'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">{{ 'portfolio.list.edit.label'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
